<div class="manage_list_container">
  <h1><%= @list.name %></h1>

  <div class="to_do_list">
    <h3>To Do:</h3>

    <% @goals_to_do.each do |goal| %>
      <div class="goal_item">
        <div class="goal_text">
          <a class="check_box" href="/goals/<%= goal.id %>/completed">
            <i class="fa fa-square"></i>
            <i class="fa fa-check-square"></i>
          </a>
          <p><%= goal.text %></p>
        </div>
        <div class="adjust_goal">
          <a href="/goals/<%= goal.id %>/edit"><i class="fa fa-pencil-square-o"></i> edit</a>
          <p><i class="fa fa-trash"></i> <%= link_to 'delete', goal, :method => :delete %></p>
        </div>
      </div>
    <% end %>

    <%= link_to 'Add new goal', new_goal_path, :class => "new_goal_button" %>
  </div>

  <div class="achievements">
    <p>Goals completed</p>
    <% @goals_completed.each do |goal| %>
      <div class="activity">
        <div class="show_image">
          <img src="<%= goal.image_url %>" alt="">
        </div>
        <div class="photo_info">
          <p><i class="fa fa-check-square"></i> <%= goal.text %></p>
          <p><%= link_to 'show', goal %></p>
          <p><%= link_to 'edit', edit_goal_path(goal) %></p>
          <p><%= link_to 'delete', goal, :method => :delete, :data => { :confirm => 'are you sure you want to delete this goal?' } %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>


