<div class="friends_container">
  <h1>Friends</h1>
  <p>Following <%= current_user.all_follows.size %> friend<%= 's' if current_user.all_follows.size != 1 %></p>

  <div class="instagram_connect">
    <img src="http://i.imgur.com/8l4xuod.gif" alt="">
    <div>
      <p>Find more friends by connecting with instagram!</p>
      <a href="/oauth/connect"><div class="instagram_connect_button">Connect with Instagram</div></a>
    </div>
  </div>

  <% current_user.all_follows.each do |user| %>
  <div class="user">
    <img class="mini_profile_pic" src="<%= User.find(user.followable_id).profile_image_url %>">
    <div class="user_div">
      <p><a class="user_name" href="/users/<%= User.find(user.followable_id).id %> "><%= User.find(user.followable_id).display_name %></a> <%= link_to "Unfollow", unfollow_user_path(user), :method => 'delete' %></p>
    </div>
  </div>
  <% end %>

  <% if current_user.follow_count == 0 %>
    <p>You aren't following anyone yet. Connect with you friends who are using this app through instagram!</p>
  <% end %>
</div>
