<h1><%= @list.name %></h1>

<% @goals.each do |goal| %>
<p><%= goal.text %></p>
<p><%= link_to 'show', goal %></p>
<p><%= link_to 'edit', edit_goal_path(goal) %></p>
<p><%= link_to 'delete', goal, :method => :delete, :data => { :confirm => 'are you sure you want to delete this goal?' } %></p>
<% end %>

<p><%= link_to 'new goal', new_goal_path %></p>